/*
Colors used:
Primary Color (Blue): #171A14;
Secondary Color (Green): #489c79;
*/
h1 {
    font-size: 30px;
    font-weight: 700;
color: #171A14;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #F4F7F5;
  font-family: 'helvetica', sans-serif;
  font-size: 18px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #171A14;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

a {
    color: #FFB140;
    text-decoration: none; /* No underlining */
  }
  a:hover {
    color: #575A5E;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
  a:visited { /* visited link */
    color: #FF990A;
  }
  a:active { /* selected link */
    color: #08090A;
  }
  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #000000;
    color: #C2E812; /* needed to override the default link color */
    font-weight: 400;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #FF990A; /* width of the border, type, color */
    transition-duration: 0.2s;
    transition-property: opacity;
  }
  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }
  .button.contact {
    background-color: transparent;
    color: #F4F7F5;
    text-transform: uppercase;
    border: 2px solid #FF990A;
  }
  .button.contact:hover {
    background-color: #C2E812;
    color: #FF990A;
  }
  header {
    background-color: #F4F7F5;
    text-align: unset;
    padding: 10px;
    margin: 10px;
    border-bottom: 3px solid #C2E812;
  }
  selector {
    margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
  }
  .logo {
    max-width: 100px;
  }
  .css-box-shadow{
    /*start ------------*/
  
    width: auto; 
    height: 100px; 
    background: #F8F8F8; 
    border: solid #F8F8F8 1px; 
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2)  ; 
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2)  ; 
    -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2)  ; 
  }
  main {
    padding-top: 56px;
  }
/* Layout styling */
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }
  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }
  img {
    width: 100%;
  }
  .img-container {
    margin: auto;
    width: 200px;
    height: 200px;
  }
.img-container img {
    width: 100%
    height: 100%
}
  #work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }
  #hero h1 {
    text-align: center; /* Centers text */
  }
  .center {
    text-align: center;
  }
  nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
  }
  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
  }
  #hero span {
    background-color: #ffe4c4;
    padding: 20px 0;
    display: block;
    width: 100%;
  }
  /* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
}
.col-md-6 {
  width: 50%;
}
[class*="col-"] {
  float: left;
  padding: 10px
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
.navtoggle li:not(:last-child) { /* hides all tabs except for last li */
  display: none;
}
.navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 8px 0;
  /* border-top: 1px solid rgba (255, 127, 80, 0.5); */
  text-align: right;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}